@import url("https://fonts.googleapis.com/css2?family=Chela+One&family=Jua&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Poppins:wght@300;400;500;600;700;800&display=swap");

body {
  background: rgb(207, 207, 207);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: #e7feff;
  width: 80%;
  height: 90%;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
  border-radius: 20px;
  position: absolute;
  top: 5%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

.searchBox {
  width: 28vw;
  height: 5vh;
  /* border: 1px solid gray; */
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
}

.searchBox #search {
  font-family: "Jua", sans-serif;
  font-size: 20px;
  border: none;
  width: 33vw;
  height: 5vh;
  background: #e7feff;
  font-family: "Jua", sans-serif;
}

.searchBox #search:focus {
  outline: none;
}

.searchBox .fa-magnifying-glass {
  cursor: pointer;
}

.content {
  padding: 0 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

  font-size: 20px;
  font-family: "Jua", sans-serif;
}

.leftContent {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.leftContent .calendar {
  width: 20vw;
  height: 40vh;
  /* border: 1px solid gray; */
  border-radius: 20px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.leftContent .musicPlayer {
  width: 20vw;
  height: 30vh;
  border-radius: 20px;
  /* border: 1px solid gray; */
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.centerContent {
  width: 38vw;
  height: 73vh;
  border-radius: 20px;
  /* border: 1px solid gray; */
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.rightContent {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.rightContent .any1 {
  width: 20vw;
  height: 25vh;
  /* border: 1px solid gray; */
  border-radius: 20px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.rightContent .any2 {
  width: 17vw;
  height: 45vh;
  /* border: 1px solid gray; */
  border-radius: 20px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;

  display: flex;
  justify-content: center;
  align-items: center;
}
