.section {
    background-image: url(./오늘의운세이미지폴더/taroMain.jpg);
    background-size: contain;
    width: 100%; 
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-end; 
    height: 65em;
    overflow: hidden; 
}