
/* CSS 파일 */
.section {
    background-image: url(./오늘의운세이미지폴더/taroMain.jpg);
    background-size: contain;
    width: 100%; 
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-end; 
    height: 65em;
    overflow: hidden; 
}

.section .lucky {
    text-align: center;
    height: 40%; 
    overflow: hidden; 
}


.section .lucky .btn1 {
    background-color: #fce205;
    color: black;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    padding: 15px 30px;
    border-radius: 15px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s;
}

.section .lucky .btn1:hover {
    color: red;
}

.section .lucky .text {
    margin-top: 20px; 
    font-size: 150%;
}
.section .lucky .result .btn2{
    background-color: #fce205;
    color: black;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    padding: 15px 30px;
    border-radius: 15px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s;
    margin-top: 140px;
}
.section .quiz {
    margin-bottom: 360px;
    margin-left: 30px; 
}
.section .quiz .quiz1{
    background-color: #fce205;
    color: black;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    padding: 15px 30px;
    border-radius: 15px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s;
}
/* 퀴즈 나오는 부분 */
.section .choosequiz .showQuesion {
    text-align: center;
    font-size: 30px;
    margin-bottom: 5%;
}
.section .choosequiz .question {
    font-size: 30px;
    height: 60px; /* 고정된 높이 설정 */
    overflow: hidden; /* 텍스트 내용이 넘치는 경우 숨김 처리 */
    margin-bottom: 10px; /* 추가적인 여백 설정 */
}
.section .choosequiz .answer {
    margin-bottom: 100%;
}
.section .choosequiz .o{
    background-color: #fce205;
    color: black;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    padding: 15px 30px;
    border-radius: 15px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s;
}
.section .choosequiz .o:hover{
    color: red;
}

.section .choosequiz .x{
    background-color: #fce205;
    color: black;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    padding: 15px 30px;
    border-radius: 15px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s;

}
.section .choosequiz .x:hover{
    color: red;
}







